body{
    background-image:linear-gradient(to right, #F5EEDC, #DD4A48, #4F091D);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}
  
.container{
    width:100%;
    height: 900px;
    margin:auto;
}

#menu{
    width: 100%;
    height: 150px;
    text-align: center;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding: 4px;
}

#menu ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color:#580416e6;
    color: rgb(0, 0, 0);
    padding:4px;
}

.slideshow-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .active {
    display: block;
  }

h1,h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

p{
    font-size:40px;
    color:white;
    text-align: center;
}

footer{

    width: 100%;
    height: 100px;
    background-color: #580416;
    text-align: center;
    line-height: 50px;
}

#comecar {
    display: block;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 39%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8B0000;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #comecar:hover {
    background-color: #800000;
  }

  #botoes {
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #99331a;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
  }
  
  .button:last-child {
    margin-right: 0;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    display: block;
    width: 105%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .sobre-container {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: #dbbc0e;
    border-radius: 10px;
    padding: 20px;
  }
  
  .sobre-container h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
  }
  
  .sobre-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
  }